<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please Sign In</h3>
        </div>
        <div class="panel-body">
          <form role="form" 
                name="loginForm"
                ng-controller="LoginCtrl"
                ng-submit="login(credentials)"
                novalidate>
            <fieldset>
              <div class="form-group">
                <input  class="form-control" 
                        placeholder="Username" 
                        name="username"
                        ng-model="credentials.username"
                        type="text" 
                        autofocus
                        required>
              </div>
              <div class="form-group">
                <input  type="password" class="form-control" 
                        placeholder="Password" 
                        name="password"
                        ng-model="credentials.password"
                        required>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
              <a class="btn btn-lg btn-block" ui-sref="register">Register</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>