<form class="form-signin" role="form" name="registerForm"
      ng-controller="RegisterCtrl" 
      ng-submit="register(newUser)" 
      novalidate>
  <h2 class="form-signin-heading">Registration</h2>
  <input  type="text" class="form-control" 
          placeholder="Username" 
          ng-model="newUser.username"
          autofocus=""
          required>
  <input  type="password" class="form-control" 
          placeholder="Password" 
          ng-model="newUser.password"
          required>
  <input  type="password" class="form-control" 
          placeholder="Password Confirmation" 
          ng-model="newUser.confirmPassword"
          required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
</form>